.flex-expense-detail-form{
    display:flex;
    
    flex-direction: column;
    justify-content: space-around;

}

// .flex-expense-detail-form{
    // display:flex;
    // flex-direction:column;
    // width:100%
    
// }
.flex-expense-detail-text-box{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin:auto;
    justify-content: space-around;

}
.flex-expense-detail-button{
    display:flex;
    justify-content: center;
    margin-top:20px;
}