.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width:600px;
    margin-top: 3%;
    min-height:250px;
    align-items: center;
    
}
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    
}
.flex-button{
     
    margin:auto;
    background-color: #1a293e;

   

}
.flex-button-content{
    color:white;

  
}
.content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
