.card {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    min-width:600px;
    margin-top: 2%;
    min-height:250px;
}
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.flex-button{
     
    margin:auto;
    background-color: #1a293e;

   

}
.flex-button-content{
    color:white;

  
}
