.flex-basic-info{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.flex-basic-infor-form{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.flex-basic-info-button{
    display:flex;
    justify-content:center;
    flex-direction: row;
    margin-top:20px;
}