.flex-application-container-noneditable{
    display:flex;
    flex-direction:column;
    
}
.flex-application-summary-header{

    display:inline-flex;
    margin-top:1%;
    margin-bottom:10%;
    //font-family: 'Gayathri';
    color:#1a293e;
    font-size: 40px;
    font-weight:normal;
    margin-left: 0%;
    font-family: 'Arsenal', sans-serif ;
}
//.flex-application-container-content{
   // display:inline-flex;
   // margin-top:10px;
//}